<div class="container">
    <!-- Products tab & slick -->
    <button class="btn btn-outline-dark btn-sm mt-2" (click)="editProduct(0)">
        <i class="fa fa-plus"></i>New Product</button>
    <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-6" *ngFor="let p of products; let i=index">
            <div class="card my-2">
              <img [src]="p.imagen" alt="{{p.nombre}}" width="200px" class="card-img-top"  style="cursor:pointer;">
              <div class="card-header">
                <div class="card-title">
                  <p>{{p.nombre | titlecase}}</p>
                </div>
              </div>
              <div class="card-body">
                <p class="lead">{{p.valor_unitario | currency:'USD'}}</p>
                
              </div>

              <div class="row d-flex justify-content-center border-primary my-3">
                <div class="col-md-6 ">
                  <button class="btn btn-outline-success btn-sm btn-block" (click)="editProduct(p.codigo)">
                      Editar
                  </button>
                  <button class="btn btn-outline-danger btn-sm btn-block" (click)="deleteProduct(p.codigo,p.nombre,i)">
                   Eliminar
                  </button>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
</div>