<!-- BREADCRUMB -->
<div class="section" id="breadcrumb">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb-tree">
            <li><a href="#">Home</a></li>
            <li><a href="#">All Categories</a></li>
            <li><a href="#">{{product?.category}}</a></li>
            <li class="active">{{product.nombre}}</li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /BREADCRUMB -->
  
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row d-flex">
        <!-- Product main img -->
        <div class="col-md-5 col-md-push-2">
          <div id="product-main-img">
            <ng-template [ngIf]="thumbimages.length === 0">
              <div class="product-preview">
                <img [src]="product.imagen" alt="">
              </div>
            </ng-template>
            <ng-template [ngIf]="thumbimages.length > 0">
              <div class="product-preview" *ngFor="let t of thumbimages">
                <img [src]="t" alt="">
              </div>
            </ng-template>
          </div>
        </div>
        <!-- /Product main img -->
  
 
  
        <!-- Product details -->
        <div class="col-md-5">
          <div class="product-details">
            <input class="form-control form-control-sm" [(ngModel)]="product.imagen" placeholder="url image">
            <br>
            <input class="product-name form-control" [(ngModel)]="product.nombre" placeholder="Nombre Producto">

            <div>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <a class="review-link" href="#">10 Review(s) | Add your review</a>
            </div>
            <div>
              <input class="input-number product-price form-control" [(ngModel)]="product.valor_unitario" placeholder="0.0">
            </div>
            <p>{{product?.nombre}}</p>
  
  
            <div class="add-to-cart">
              <div class="qty-label">
                Qty
                <div class="input-number">
                  <input #quantity 
                         type="number" value="{{product.stock}}">
                  
                </div>
              </div>
              <button class="add-to-cart-btn" (click)=guardar()><i
                class="fa fa-shopping-cart" ></i>Guardar
              </button>
            </div>
  
            <ul class="product-links">
              <li>Category:</li>
              <li><a href="#">{{product?.category}}</a></li>
            </ul>
  
            <ul class="product-links">
              <li>Share:</li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
  
          </div>
        </div>
        <!-- /Product details -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->
  